<!-- Client-side (HTML) -->
<!DOCTYPE html>
<html>
<head>
    <title>WebRTC Video Call</title>
    <style>
         #localVideo, #remoteVideo {
                   width: 480px;
                   height: 360px;
                   border: 1px solid #ccc;
                   display: block;
                   margin: 0 auto;
               }
               .controls {
                   display: flex;
                   justify-content: center;
                   margin-top: 10px;
               }
               .controls button {
                   margin: 0 10px;
               }
    </style>
</head>
<body>
<video id="localVideo" autoplay muted></video>
<video id="remoteVideo" autoplay></video>
<div class="controls">
        <button id="toggleVideo"><i class="fas fa-video"></i></button>
        <button id="toggleAudio"><i class="fas fa-microphone"></i></button>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
<script src="~/js/webrtc.js"></script> <!-- Предполагается, что ваш JavaScript код WebRTC находится в этом файле -->
</body>
</html>