@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to VChat</h1>
    <p>Chat was created by Novik Vladislav. I hope the experience of using the app will be great.</p>
</div>